@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
p {
  font-family: "Montserrat", sans-serif;
  font-size: 17.5px;
  color: #333;
}
hgroup {
  font-family: "Quakiez";
  src: url("C:/Users/Prowler/Downloads/quakiez/Quakiez.ttf") format("truetype"),
    url("C:/Users/Prowler/Downloads/quakiez/Quakiez.ttf") format("woff");
}
