@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: black;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: black;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: 18px;
  color: black;
}
